{%extends 'base.html'%}
{%block content%}

<div id="example">
  <button v-on:click="greet">Greet</button>
</div>

<script>
  var vm = new Vue({
    el: '#example',
    delimiters:['[[',']]'],
    data: {
      name: 'Vue.js',
    },
    // define methods under the `methods` object
    methods: {
      greet: function (event) {
        // `this` inside methods point to the Vue instance
        alert('Hello ' + this.name + '!')
        // `event` is the native DOM event
        alert(event.target.tagName)
      }
    }
  })
  // you can invoke methods in JavaScript too
  //vm.greet() // -> 'Hello Vue.js!'
</script>


{%endblock%}