{%extends 'base.html'%}

{%block content%}

<h1> Registrar Page </h1>


<form method = 'POST' action = "{{url_for('criar')}}" enctype='multipart/form-data'>
    <label for = 'nome'> Nome: </label>
    <input type = 'text' name = 'nome'>

    <label for = 'sobrenome'> Sobrenome: </label>
    <input type = 'text' name= 'sobrenome'>
    <br>
    <br>
    <label for = 'email'> Email: </label>
    <input type='email' name = 'email'>
    <br>
    <br>
    <label for = 'sexo'> Sexo: </label>
    <input type="radio" name="sexo" value="masculino" checked> Masculino <input type="radio" name="sexo" value="feminino"> Feminino
    <br>
    <br>
    <label for = 'salario'> Pretenção Salarial: </label>
    <select name="salario">
        <option value="1000">R$ 1000,00</option>
        <option value="2000">R$ 2000,00</option>
        <option value="3000">R$ 3000,00</option>
        <option value="4000">R$ 4000,00</option>
    </select>
    <br>
    <br>
    <label for = 'senha'> Senha: </label>
    <input type = 'password' name = 'senha'>

    <label for = 'salario'> Confirmar Senha: </label>
    <input type = 'password' name ='senha_confirmar'>
    <br>
    <br>
    <label for = 'salario'> Foto de Perfil: </label>
    <input type = "file" name = "imagem">
    <br>
    <br>
    <input type = "submit" value = "Submeter">  
</form>

{%endblock%}