{%extends 'base.html'%}

{%block content%}

<h1> Registrar Page </h1>


<form method = 'POST' action = "{{url_for('criar')}}" enctype='multipart/form-data'>
    Nome: <input type = 'text' name = 'nome'>
    Sobrenome: <input type = 'text' name= 'sobrenome'>
    <br>
    <br>
    Email: <input type='email' name = 'email'>
    <br>
    <br>
    Sexo: <input type="radio" name="sexo" value="masculino" checked> Masculino <input type="radio" name="sexo" value="feminino"> Feminino
    <br>
    <br>
    Pretenção Salarial: <select name="salario">
        <option value="1000">R$ 1000,00</option>
        <option value="2000">R$ 2000,00</option>
        <option value="3000">R$ 3000,00</option>
        <option value="4000">R$ 4000,00</option>
    </select>
    <br>
    <br>
    Senha: <input type = 'password' name = 'senha'>
    Confirmar Senha: <input type = 'password' name ='senha_confirmar'>
    <br>
    <br>
    Foto de Perfil: <input type = "file" name = "imagem">
    <br>
    <br>
    <input type = "submit" value = "Submeter">  
</form>

{%endblock%}