{%extends 'base.html'%}

{%block content%}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h3><strong>Trabalhos de TCC / Mestrado / Doutorado</strong></h3>
        <p style = "font-size: 20px">
            Neste serviço podemos participar por completo ou em partes da produção do trabalho. Como por exemplo, desde
            fazer uma pesquisa bibliográfica e colocar as normas no formato desejado, quando fazer os gráficos, tabelas,
            e até mesmo as análises.
        </p>
    </li>
    <li class="list-group-item">
        <h3><strong>Gráficos de Qualidade</strong></h3>
        <img src = '/static/2D.png' class="img-fluid" alt="Responsive image" width = "420px" height="320px">
        <img src = '/static/3D.png' class="img-fluid" alt="Responsive image" width = "420px" height="320px">
        
    </li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>

{%endblock%}